{% extends 'bootstrap/base.html' %}
{% block scripts %}
	{{ super() }}
	{{ datepicker.loader() }} {# to load jQuery-ui #}
	{{ datepicker.picker(id=".dp") }}
	{{ flask_util_js.js }}
	<style>
		* {
		  box-sizing: border-box;
		}

		#search {
		  background-image: url('/css/searchicon.png');
		  background-position: 10px 12px;
		  background-repeat: no-repeat;
		  width: 100%;
		  font-size: 16px;
		  padding: 12px 20px 12px 40px;
		  border: 1px solid #ddd;
		  margin-bottom: 12px;
		}

		#myUL {
		  list-style-type: none;
		  padding: 0;
		  margin: 0;
		}

		#myUL li a {
		  border: 1px solid #ddd;
		  margin-top: -1px; /* Prevent double borders */
		  background-color: #f6f6f6;
		  padding: 12px;
		  text-decoration: none;
		  font-size: 18px;
		  color: black;
		  display: block
		}

		#myUL li a:hover:not(.header) {
		  background-color: #eee;
		}
	</style>
{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages(with_categories=true) %}
	  	{% if messages %}
		    <ul class=flashes>
			    {% for category, message in messages %}
			    	<li class="alert alert={{ category }}">{{ message }}</li>
			    {% endfor %}
		    </ul>
	  	{% endif %}
	{% endwith %}
	<h1>ISSUE A BOOK TO A BORROWER</h1>
	<!-- <form method="POST" action="/book_issue/"> -->
	<div class="form-group">
		<label for="search">Enter Book Code, Name</label>
		<input type="text" name="search" id="search" placeholder="Search.." required>
		<div id="header">
			<ul id="myUL">
			</ul>
			<h1 id="error">Books not found!</h1>
		</div>
		<!-- <button type="submit" class="btn btn-primary">GO</button> -->
	</div>
	<!-- </form> -->
	{% if data.book_entry_list %}
		{% for book in data.book_entry_list %}
			{{book.book_code}} {{book.name}} {{book.author}}<br>
		{% endfor %}
	{% endif %}

	{% if data.book_entry_obj %}
		<form method="POST" action="/book_issue/">
			<h1>Book Details</h1>
			Book Name & code :- {{data.book_entry_obj.name}} &nbsp;&nbsp; {{data.book_entry_obj.book_code}}<br>
			Author & Publisher :- {{data.book_entry_obj.author}} &nbsp;&nbsp; {{data.book_entry_obj.publisher}}<br>
			Look for this book :- in shelf number {{data.book_entry_obj.shelf_name.name}}
			<div class="form-group">
				<input type="hidden" class="form-control" name="book_code" value="{{data.book_entry_obj.book_code}}"><br>
			</div>
			<h1>Borrower Details</h1>
			<div class="form-group">
				<label for="name">Borrower Name*</label><br>
				<input type="text" class="form-control" name="name" required><br>
			</div>
			<div class="form-group">
				<label for="address">Borrower Address*</label><br>
				<input type="text" class="form-control" name="address" required><br>
			</div>
			<div class="form-group">
				<label for="cell_no">Borrower Cell No*</label><br>
				<input type="tel" class="form-control" id="cell_no" name="cell_no" placeholder="1234567890" pattern="[0-9]{10}" required><br>
			</div>
			<div class="form-group">
				<label for="email">Borrower Email</label><br>
				<input type="email" class="form-control" name="email"><br>
			</div>
			<h1>Book Issue & Return date</h1>
			<div class="form-group">
				<label for="issue_date">Issue Date*</label><br>
				<input type="date" id="issue_date" class="form-control" name="issue_date" value="{{data.issue_date}}" required readonly><br>
			</div>
			<div class="form-group">
				<label for="return_date">Return Date*</label><br>
				<input type="date" id="return_date" class="form-control" name="return_date" value="{{data.return_date}}" required readonly><br>
			</div>
			<a href="/"><button>BACK</button></a>
			<button type="submit" class="btn btn-primary">ISSUE</button>
			<br><br>
		</form>
	{% endif %}
	{% block script %}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type="text/javascript">
	    	$("#myUL").hide();
	    	$("#error").hide();
	    	$("#search").on('change', function() {
	    		var searchvalue = $('#search').val();
				console.log(searchvalue);
				$("#myUL").hide();
	    		$("#error").hide();
				$.ajax({
		            type: "POST",
		            url: "/book_search/",
		            contentType: 'application/json;charset=UTF-8',
		            data: JSON.stringify(searchvalue),       
		            success: function(resp){
		            	var book_list = JSON.parse("[" + resp + "]");
		            	console.log(book_list[0]);
		            	if (book_list[0].length) {
			            	for (i = 0; i < book_list[0].length; i++) {
			            		var book_code_id = book_list[0][i]['book_code'].toString()
			            		var name = book_list[0][i]['name'].toString()
			            		var author = book_list[0][i]['author'].toString()
			            		if (book_list[0][i]['book_status_name'] == "In Library") {
			            			var newURL = flask_util.url_for('book_issue', {book_code: book_list[0][i]['book_code']});	
			            		} else {
			            			var newURL = '#'
			            		}
			            		
						        $("#myUL").show();
						        $("#myUL").append('<li><a href='+newURL+'>'+book_code_id+' '+name+' '+author+'</a></li>');
						    }
		            	} else {
		            		$("#error").show();
		            	}
		            }
		        });
	    	});
	    </script>
	{% endblock script %}
{% endblock content %}