{% extends 'bootstrap/base.html' %}
{% block scripts %}
	{{ super() }}
	{{ datepicker.loader() }} {# to load jQuery-ui #}
	{{ datepicker.picker(id=".dp") }}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}
	</style>
{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages(with_categories=true) %}
	  	{% if messages %}
		    <ul class=flashes>
			    {% for category, message in messages %}
			    	<li class="alert alert={{ category }}">{{ message }}</li>
			    {% endfor %}
		    </ul>
	  	{% endif %}
	{% endwith %}
	<h1>LIBRARY BOOKS</h1>
	<form method="POST" action="/search/">
		<div class="form-group">
			<label for="search">Search</label>
			<input type="text" name="search" placeholder="Search..">

			<select name="category" id="category">
				<option value="">Select Category</option>
				{% for each in data.category_list %}
					<option value="{{each.id}}">{{each.name}}</option>
				{% endfor %}
			</select>
			
			<select name="book_status" id="book_status">
				<option value="">Select Book Status</option>
				{% for each in data.book_status_list %}
					<option value="{{each.id}}">{{each.name}}</option>
				{% endfor %}
			</select>
			<button type="submit" class="btn btn-primary">GO</button>
		</div>
		
	</form>
	{% if data.book_entry_obj %}
		{% if data.book_entry_obj.items %}
			<a href="/download_book_list/"><button class="btn btn-success btn-lg float-right">Download in excle</button></a>
			<table>
				<tr>
					<th>Book Code</th>
					<th>Name</th>
					<th>Author</th>
					<th>Publisher</th>
					<th>Price</th>
					<th>Category</th>
					<th>Book Shelf</th>
					<th>Book Status</th>
					<th>Edit</th>
					<th>Action</th>
				</tr>
				{% for book in data.book_entry_obj.items %}
					<tr>
						<th>{{book.book_code}}</th>
						<th>{{book.name}}</th>
						<th>{{book.author}}</th>
						<th>{{book.publisher}}</th>
						<th>{{book.price}}</th>
						<th>{{book.category_name.name}}</th>
						<th>{{book.shelf_name.name}}</th>
						<th>{{book.book_status_name.name}}</th>
						<th>
							<a href="{{ url_for('book_edit',book_code=book.book_code)}}">
								<button type="submit" class="btn btn-primary">
								Edit</button>
							</a>
						</th>
						<th>
							{% if book.book_status == 1 %}
								<a href="{{ url_for('book_issue',book_code=book.book_code)}}"><button class="btn btn-primary">Issue</button></a>
							{% else %}
								<button class="btn btn-primary">Issue</button>
							{% endif %}
						</th>
					</tr>
				{% endfor %}
				
			</table>
		{% else %}
			<H1>Books not found!</H1>
		{% endif %}
		{% for page_num in data.book_entry_obj.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
				{% if data.book_entry_obj.page == page_num %}
					<a class="btn btn-info mb-4" href="{{ url_for('search', page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="btn btn-outline-info mb-4" href="{{ url_for('search', page=page_num) }}">{{ page_num }}</a>
				{% endif %}
			{% else %}
				...
			{% endif %}
		{% endfor %}
	{% endif %}

	{% block script %}
	{% endblock script %}
{% endblock content %}