{% extends 'bootstrap/base.html' %}
{% block scripts %}
	{{ super() }}
	{{ datepicker.loader() }} {# to load jQuery-ui #}
	{{ datepicker.picker(id=".dp") }}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}

		tr:nth-child(even) {
		  background-color: #dddddd;
		}
	</style>
{% endblock %}
{% block content %}
	{% with messages = get_flashed_messages(with_categories=true) %}
	  	{% if messages %}
		    <ul class=flashes>
			    {% for category, message in messages %}
			    	<li class="alert alert={{ category }}">{{ message }}</li>
			    {% endfor %}
		    </ul>
	  	{% endif %}
	{% endwith %}
	<h1>LIBRARY BOOKS</h1>
	<form method="POST" action="/search/">
		<div class="form-group">
			<label for="search">Search</label>
			<input type="text" name="search" placeholder="Search..">

			<select name="category" id="category">
				<option value="">Select Category</option>
				{% for each in data.category_list %}
					<option value="{{each.id}}">{{each.name}}</option>
				{% endfor %}
			</select>
			
			<select name="book_status" id="book_status">
				<option value="">Select Book Status</option>
				{% for each in data.book_status_list %}
					<option value="{{each.id}}">{{each.name}}</option>
				{% endfor %}
			</select>
			<div class="data" id="date">
				<label for="issued_date">Issued Date:</label>
  				<input type="date" id="issued_date" name="issued_date">

  				<label for="return_date">Return Date:</label>
  				<input type="date" id="return_date" name="return_date">
			</div>
			<button type="submit" class="btn btn-primary">GO</button>
		</div>
		
	</form>
	{% if data.book_entry_obj %}
		<table>
			<tr>
				<th>Book Code</th>
				<th>Name</th>
				<th>Author</th>
				<th>Publisher</th>
				<th>Price</th>
				<th>Category</th>
				<th>Book Shelf</th>
				<th>Book Status</th>
			</tr>
			{% for book in data.book_entry_obj.items %}
				<tr>
					<th>{{book.book_code}}</th>
					<th>{{book.name}}</th>
					<th>{{book.author}}</th>
					<th>{{book.publisher}}</th>
					<th>{{book.price}}</th>
					<th>{{book.category}}</th>
					<th>{{book.book_shelf}}</th>
					<th>{{book.book_status}}</th>
				</tr>
			{% endfor %}
		</table>
		{% for page_num in data.book_entry_obj.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
			{% if page_num %}
				{% if data.book_entry_obj.page == page_num %}
					<a class="btn btn-info mb-4" href="{{ url_for('search', page=page_num) }}">{{ page_num }}</a>
				{% else %}
					<a class="btn btn-outline-info mb-4" href="{{ url_for('search', page=page_num) }}">{{ page_num }}</a>
				{% endif %}
			{% else %}
				...
			{% endif %}
		{% endfor %}
	{% endif %}

	{% block script %}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script type="text/javascript">
		    $( document ).ready(function() {
		    	$("#date").hide();
		    });

		 	$("#book_status").click(function(){
		 		book_status = document.getElementById("book_status").value;
		 		if (book_status == 2) {
		 			$("#date").show();
		 		}else{
		 			$("#date").hide();
		 		}
			});
			// $("#update_detail").click(function(){
			// 	username = document.getElementById("edit_username").value;
		 //    	first_name = document.getElementById("edit_first_name").value;
		 //    	last_name = document.getElementById("edit_last_name").value;
		 //    	email = document.getElementById("edit_email").value;
		 //    	birth_date = document.getElementById("edit_birth_day").value;
		 //    	department = document.getElementById("edit_department").value;
			// 	console.log(username, first_name, last_name, email, birth_date, department)
			// 	var data = {
			// 		'username': username,
			// 		'first_name': first_name,
			// 		'last_name': last_name,
			// 		'email': email,
			// 		'birth_date': birth_date,
			// 		'department': department
			// 	}
			// 	$("#employee_detail_edit").hide();
			// 	$("#employee_detail").show();

		 //    	$.ajax({
		 //            type: "POST",
		 //            url: "/update_employee_detail/",
		 //            contentType: 'application/json;charset=UTF-8',
		 //            data: JSON.stringify(data),       
		 //            success: function(resp){
		 //            	if(JSON.parse(resp)['status']){ // true  not error 
		 //            		console.log("Start");
		 //            		if (JSON.parse(resp)['username'][0]){
		 //            			$("#username").text(JSON.parse(resp)['username'][0]);
		 //            			$("#username").attr("value", JSON.parse(resp)['username'][0]);
		 //            		}
			// 				if (JSON.parse(resp)['first_name'][0]) {
			// 					$("#first_name").text(JSON.parse(resp)['first_name'][0]);
		 //            			$("#first_name").attr("value", JSON.parse(resp)['first_name'][0]);
			// 				}
			// 				if (JSON.parse(resp)['last_name'][0]) {
			// 					$("#last_name").text(JSON.parse(resp)['last_name'][0]);
		 //            			$("#last_name").attr("value", JSON.parse(resp)['last_name'][0]);
			// 				}
			// 		    	if (JSON.parse(resp)['email'][0]) {
			// 		    		$("#email").text(JSON.parse(resp)['email'][0]);
		 //            			$("#email").attr("value", JSON.parse(resp)['email'][0]);
			// 		    	}
			// 		    	// try {
			// 		    	if (JSON.parse(resp)['birth_date'][0]) {
			// 		    		$("#birth_date").text(JSON.parse(resp)['birth_date'][0]);
	  //           				$("#birth_date").attr("value", JSON.parse(resp)['birth_date'][0]);
			// 		    	}
			// 			    // } catch(e) {
			// 			    // 	console.log("Date not store!")
			// 			    // }
			// 		    	if (JSON.parse(resp)['department'][0]) {
			// 		    		$("#department").text(JSON.parse(resp)['department'][0]);
		 //            			$("#department").attr("value", JSON.parse(resp)['department'][0]);
			// 		    	}
			// 		    	console.log("Done");
			// 			}
			// 			else 
			// 			{
			// 				console.log("error");
			// 				alert(JSON.parse(resp)['error'])
			// 			}
		 //            }
		 //        });

			// });
	    </script>
	{% endblock script %}
{% endblock content %}